# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
common/CreateWindow/Debug/
*.db
*.opendb
window/displays/Debug/
*.tlog
*.idb
d3d11/setup/x64/
window/create/x64/
window/displays/x64/
x64/
